.CodeMirror {
        border: 1px solid #eee;
        width: 100%;
        background-color: #F0F8FF;
        font-size: 14px;
        font-family: "Courier New";        
        height: auto;
      }

.CodeMirror-scroll {
        height: auto;
    }      
    
p {
  margin-bottom: 30px;
  text-align: justify;
}

h1
{
font-size: 28px;
font-weight:bold;
}

h2
{
font-size: 20px;
font-weight:bold;
}

h3
{
font-size: 18px;
font-weight:bold;
}

h4
{
font-size: 16px;
font-weight:bold;
}

.navbar-custom {
    background-color: #FFFFFF;
}

.marginBottom-0 {margin-bottom:0;}

.dropdown-submenu{
    position:relative;
}
.dropdown-submenu>.dropdown-menu{
     top:0;
     left:100%;
     margin-top:-6px;
     margin-left:-1px;
     -webkit-border-radius:0 6px 6px 6px;
     -moz-border-radius:0 6px 6px 6px;
     border-radius:0 6px 6px 6px;
 }
.dropdown-submenu>a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after{
    border-left-color:#555;
}
.dropdown-submenu.pull-left{
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu{
left:-100%;
margin-left:10px;
-webkit-border-radius:6px 0 6px 6px;
-moz-border-radius:6px 0 6px 6px;
border-radius:6px 0 6px 6px;
}
